<launch>
  <arg name="config_directory" default="$(find taskit)/config" />
  <arg name="arm_cfg" default="$(find taskit)/config/panda_arm_config.yaml" />
  <group ns="environment">
    <rosparam file="$(arg config_directory)/environment.yaml" />
  </group>
  <group ns="workspace">
    <rosparam file="$(arg config_directory)/workspace.yaml" />
  </group>
  <group ns="objects">
    <rosparam file="$(arg config_directory)/objects.yaml" />
  </group>
  <group ns="arm_config">
    <rosparam file="$(arg arm_cfg)" />
  </group>
</launch>